// @autor: Damis Garcia

footer {
  color:white;
  padding: 50px 0;
  background-color: #34495E;
  min-height: 400px;
  a{
    color:$brand-primary;
  }
  .list-inline a{
    color:white;
  }
}

p.copyright {
  color: white;
  margin: 15px 0 0;
}
