// @autor: Damis Garcia

footer {
  color:white;
  padding: 50px 0;
  background-color: #34495E;
  min-height: 400px;
  a{
    color:white;
  }
  .list-inline a{
    color:white;
  }
  .icon{
    opacity: 0.7;
    -webkit-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
    &:hover{
      opacity: 1;
    }
  }
  h3{
    margin: 0;
  }
}

@media(max-width:$sm){
  footer{
    display: flex;
    justify-content: center;
    hr{
      border-color:$brand-inverse;
    }
    h1{
      font-size: 2.4rem;
    }
    h3{
      font-size: 1.4rem;
    }
  }
}

p.copyright {
  color: white;
}
