// @autor: Damis Garcia
.navbar-brand-logo{
  margin: 3px 10px;
}


header .navbar{
  border-radius: 0px;
  background-color: transparentize(white, 0.1);;
  border-bottom-color: transparent !important;
  border-top-color: transparent !important;
  -webkit-animation-duration:0.3s !important;
  // .navbar-nav a{
  //   color:#fefefe;
  // }
}
