.popover{
  background-color: transparentize(white,0.15);
  border-radius: 0px;
  border:1px solid darken($brand-primary,10);
  width: 300px;
  min-height: 100px;
  .popover-title{
    font-weight: 600;
    background-color: transparentize(white,0.15);
    border-color: darken($brand-primary,5);
  }
}
