// $autor: Damis Garcia

// Scaffolding
$body-bg:    #fff;
$text-color: $gray-darker;

// Links
$link-color:       $brand-primary;
$link-hover-color: darken($link-color, 15%);

// Usage
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

@font-face {
  font-family: "My Wandering Heart";
  font-weight: normal;
  src: url("../fonts/mywanderingheart.ttf");
}


// Typography
$font-family-sans-serif:  "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-sans-serif-thin:  "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-heart:       "My Wandering Heart","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;


body {
  font-family: $font-family-sans-serif-thin;
  background-color: $body-bg;
  text-color: $text-color;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-family-sans-serif;
  text-color: $text-color;
}


blockquote{
  border-left:none;
  font-size: 19px;
}

// Buttons

.btn{
  &.btn-primary{
    background-color: $brand-primary;
  }
  &.flat{
    background-color: transparent;
    color: $gray-darker;
    border-color: $gray-darker;
    -webkit-border-radius: 999em;
    border-radius: 999em;
    &.inverse{
      color: white;
      border-color: white;
    }
    &.primary{
      color: lighten($brand-primary,60);
      border-color: $brand-primary;
      background-color: transparentize($brand-primary,0.8);
    }
  }
}

.form-control{
  &.flat{
    background-color: transparent;
    color: $gray-darker;
    border-color: $gray-darker;
    -webkit-border-radius: 999em;
    border-radius: 999em;
  }
  &.inverse{
    color: white;
    border-color: white;
  }
}


// Affix Navbar
#top.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:60;
}
