a {
  color: #009056;
  text-decoration: none; }
  a:hover {
    color: #004328;
    text-decoration: underline; }

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #fff;
  text-color: #222222; }

h1, h2, h3, h4, h5, h6 {
  text-color: #222222; }

.btn.btn-primary {
  background-color: #009056; }
.btn.flat {
  background-color: transparent;
  color: #222222;
  border-color: #222222;
  -webkit-border-radius: 999em;
  border-radius: 999em; }
  .btn.flat.inverse {
    color: white;
    border-color: white; }
  .btn.flat.primary {
    color: #009056;
    border-color: #009056;
    background-color: #222222; }

#top.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 60; }

.margin-top {
  margin-top: 1.8rem; }

.margin-large-top {
  margin-top: 2.8rem; }

.margin-bottom {
  margin-bottom: 1.8rem; }

.margin-large-bottom {
  margin-bottom: 2.8rem; }

.margin-left {
  margin-left: 1.8rem; }

.margin-large-left {
  margin-left: 2.8rem; }

.margin-right {
  margin-right: 1.8rem; }

.margin-large-right {
  margin-right: 2.8rem; }

.primary-color {
  color: #009056; }

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog, .my-mfp-zoom-in .mfp-iframe-holder {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog, .my-mfp-zoom-in.mfp-ready .mfp-iframe-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog, .my-mfp-zoom-in.mfp-removing .mfp-iframe-holder {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.navbar-brand-logo {
  margin: 3px 10px; }

.navbar-brand-logo-container {
  display: flex;
  align-items: center;
  color: rgba(119, 119, 119, 0.5);
  line-height: 0.6em; }
  .navbar-brand-logo-container small {
    font-size: 0.4em; }

header .navbar {
  border-radius: 0px;
  border-bottom-color: transparent !important;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  -webkit-animation-duration: 0.3s !important;
  margin-bottom: 0px;
  padding: 0px 20px; }
  header .navbar.affix.with-shadow {
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); }
  header .navbar .navbar-collapse {
    padding-left: 0px;
    border: none; }
  header .navbar .navbar-btn {
    border-color: #009056;
    color: #009056;
    background-color: transparent !important;
    -webkit-border-radius: 999em;
    border-radius: 999em; }
  header .navbar ul li.active > a {
    background-color: transparent !important;
    color: #111;
    border-bottom: 2px solid #009056; }

.lead {
  font-size: 18px;
  font-weight: 400; }

.intro-header {
  position: relative;
  padding-top: 10%;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 15%;
  margin-bottom: 15px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/cover.jpg) no-repeat center center;
  background-size: cover; }

.intro-message {
  position: relative; }

.intro-message > h1 {
  margin: 0;
  text-shadow: 1px 1px 2px #009056;
  font-size: 6em; }

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }

@media (max-width: 768px) {
  .intro-message {
    padding-bottom: 15%; }

  .intro-message > h1 {
    font-size: 3em; }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0; }

  .intro-divider {
    width: 100%; } }
.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px; }

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8; }

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }

.section-heading {
  margin-bottom: 30px; }

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7; }

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover; }

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em; }

.banner ul {
  margin-bottom: 0; }

.banner-social-buttons {
  float: right;
  margin-top: 0; }

@media (max-width: 1200px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px; } }
@media (max-width: 768px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em; }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0; } }
footer {
  padding: 50px 0;
  background-color: #f8f8f8; }

p.copyright {
  margin: 15px 0 0; }

.landscape-apple-store {
  position: absolute;
  bottom: 10%;
  right: 25px; }

.carousel-indicators, .carousel-control {
  display: none; }

/*# sourceMappingURL=main.css.map */
