<section class="row section-a">
    <div class="col-md-5 col-md-offset-1 col-xs-12">
        <h2 class="section-heading">Cada professor é dono de sua página</h2>
        <div class="lead">
          O professor pode criar quantos cursos ele desejar, não há limites de cursos e aulas. Ele pode ter cursos completos ou em andamento. <br>
          Siga quantos professores você quiser e acompanhe tudo de novo que ele cria.
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-right" src="img/students/05split.png" alt="">
    </div>
</section>
