<section class="row section-b">
    <div class="col-xs-12 visible-sm visible-xs"> <!-- Small Device Text -->
        <h2 class="section-heading">Aulas em diversos formatos</h2>
        <div class="lead">
          As aulas ministradas na plataforma poderão ser trabalhadas em mais de um tipo de mídia. Poderão ser vídeo aulas no youtube “não listado”(só os assinantes do girafales tem acesso ao link do vídeo e podem acompanhar todas atualizações), PDF’s e Exercícios interativos.
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-left" src="img/students/02split.png" alt="">
    </div>
    <div class="col-md-6 col-xs-12 hidden-sm hidden-xs">
        <h2 class="section-heading">Aulas em diversos formatos</h2>
        <div class="lead">
          As aulas ministradas na plataforma poderão ser trabalhadas em mais de um tipo de mídia. Poderão ser vídeo aulas no youtube “não listado”(só os assinantes do girafales tem acesso ao link do vídeo e podem acompanhar todas atualizações), PDF’s e Exercícios interativos.
        </div>
    </div>
</section>
