<section class="row section-a">
    <div class="col-md-5 col-md-offset-1 col-xs-12">
        <h2 class="section-heading">As aulas estão organizadas <br> em Cursos</h2>
        <div class="lead">
          Toda aula está inserida em um curso. Os professores podem publicar cursos completos ou de modo progressivo, desse modo os alunos poderão acompanhar aula após aula até a finalização do Curso.
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-right" src="img/students/03split.png" alt="">
    </div>
</section>
