<section class="row section-b">
    <div class="col-xs-6">
        <img class="img-responsive pull-left" src="img/students/04split.png" alt="">
    </div>
    <div class="col-xs-5">
        <h2 class="section-heading">Ambiente ideal para estudar</h2>
        <div class="lead">
          Gostou da aula? O Curso é bom? Adiciona na Sala de Estudo.
          É o ambiente ideal para você organizar o seu material. Nela você adiciona os Cursos dos diversos professores que despertaram o seu interesse. Lembrando que tanto você pode adicionar uma aula específica na sala de estudo como pode adicionar o Curso Completo.
        </div>
    </div>
</section>
