<!-- Footer -->
<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                  <li>
                    <a href="https://facebook.com.br" target="_blank">
                      <img src="img/icons/facebook.svg" title="Facebook" class="icon">
                    </a>
                  </li>
                  <li>
                    <a href="https://youtube.com" target="_blank">
                      <img src="img/icons/youtube.svg" title="Youtube" class="icon">
                    </a>
                  </li>
                  <li>
                    <a href="https://instagram.com" target="_blank">
                      <img src="img/icons/instagram.svg" title="Instagram" class="icon">
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com" target="_blank">
                      <img src="img/icons/twitter.svg" title="Twitter" class="icon">
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline">
                <li>
                    <a href="#services">Termo de Uso</a>
                </li>
                <li>
                  <a href="mailto:atendimento@girafales.com">atendimento@girafales.com</a>
                </li>
              </ul>
                <hr class="visible-sm visible-xs">
              <p>{{ site.copyright }}</p>
            </div>
        </div>
    </div>
</footer>
