<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Facebook</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Instagram</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Termo de Uso</a>
                    </li>
                </ul>
                <ul class="list-inline">
                  <li>
                    <a href="atendimento@girafales.com">atendimento@girafales.com</a>
                  </li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
        </div>
    </div>
</footer>
