  <section id="about">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <h3 class="navbar-brand-logo-container">
          <a href="#">
            <img class="navbar-brand-logo" alt="{{ site.title }}" width="38" src="img/logo.svg">
          </a>
          Girafales
        </h3>
      </nav>
      <nav id="top" class="navbar navbar-default with-shadow">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="gf-navbar-collapse">
              <a class="btn btn-primary navbar-btn navbar-right gf-sigin" href={{ site.url_login }}>Entrar no Girafales</a>
              <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                  </li>
                  <li ng-class="{'force-unable':!home.slides.students.active}">
                    <a class="page-scroll" href="#services" ng-click="home.toStudents($event)">
                      Aluno
                    </a>
                  </li>
                  <li ng-class="{'force-unable':!home.slides.teachers.active}">
                    <a class="page-scroll" href="#services" ng-click="home.toTeachers($event)">Professor</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
        <!-- /.container -->
      </nav>
    </header>
  </div>
<!-- Header -->
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1> Reunimos <b>grandes professores</b> para garantir a sua <b>aprovação</b> em um <b>concurso público.</b> </h1>
            <h3>Girafales é uma plataforma educativa que reúne alunos e professores em um ambiente ideal para quem estuda para Concurso Público. Onde cada professor tem a própria página e se relaciona <b>diretamente</b> com os alunos. Criando cursos em diferentes formatos, como: <b>Vídeos, PDF e Exercícios.</b></h3>
            <br class="margin-large-top margin-large-bottom"/>
            <ul class="list-inline">
            {% include video-presentation.html %}
            </ul>
          </div>
        </div>
      </div>
      <a href="https://google.com.br" target="_blank" class="btn btn-sm flat inverse landscape-apple-store hidden-xs">
        <img class="landscape-apple-store-icon" src="img/icons/apple-store-icon.svg" width="32"/> Getting on Apple Sore
      </a>
    </div>
    <!-- /.container -->
  <!-- /.intro-header -->
</section>
