<!-- jQuery Version 1.11.0 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="app/scripts/app.js"></script>
<script src="app/scripts/controllers/home.js"></script>
<script src="app/scripts/directives/magnific-popup.js"></script>
