<section id="services" class="margin-bottom margin-top">
  <div class="container margin-top margin-bottom">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-repeat="slide in home.slides" ng-click="home.toSlide($index,$event)" ng-class="{'active':slide.active}">
        <a href="#!">Service <span ng-bind="$index"></span></a>
      </li>
    </ul>
  </div>
  <uib-carousel interval="home.carouselInterval" no-wrap="home.noWrapSlides">
  <!-- Page Content -->
  <uib-slide ng-repeat="slide in home.slides" active="slide.active">
    <div ng-include="slide.templateUrl"></div>
  </uib-slide>
  </uib-carousel>
</section>
