<!-- Responsive Push Menu -->
<nav class="gf-menu--push-right" ng-class="{'active':$pushRightMenu}">
  <h2 class="container text-right">
    <a href="#!" ng-click="$pushRightMenu=false;" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
  </h2>
  <ul class="list-group text-center">
    <li class="list-group-item"><a class="btn btn-block btn-large flat inverse" href={{ site.url_login }}> Entrar no Sistema</a></li>
    <li class="list-group-item social row">
      <a class="btn flat inverse col-xs-6"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
      <a class="btn flat inverse col-xs-6"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
    </li>
    <li class="list-group-item social row">
      <a class="btn btn-large flat inverse col-xs-6"><i class="fa fa-instagram"></i>&nbsp; Instagram</a>
      <a class="btn btn-large flat inverse col-xs-6"><i class="fa fa-youtube"></i>&nbsp; Youtube</a>
    </li>
  </ul>
</nav>
<div class="gf-overlayer" ng-class="{'active':$pushRightMenu}" ng-click="$pushRightMenu=false;"></div>
