<a href="https://www.youtube.com/watch?v=ipR3hG2QBn0" magnific-popup type="iframe" class="btn btn-default btn-lg flat inverse">
  <span class="glyphicon glyphicon-play-circle"></span> Assistir o Vídeo de Apresentação
</a>

<!-- <p>
  <a href="https://www.youtube.com/watch?v=ipR3hG2QBn0" magnific-popup type="iframe" style="display:block;">
    <span class="glyphicon glyphicon-play-circle primary-color" style="font-size:36pt;"></span>
  </a>
  <br>
  <small>Assistir o Vídeo de Apresentação</small>
</p> -->
