<section class="row section-c">
  <div class="col-md-6 col-xs-12">
      <img class="img-responsive" src="img/teacher-banner.svg"/>
  </div>
    <div class="col-md-6 col-xs-12">
        <h2 class="section-heading">Ainda não faz parte do Girafales ?</h2>
        <div class="lead">
          Com uma assinatura mensal de <b>R$ 24,90</b> você tem acesso a todos os professores, cursos e aulas publicadas (Veja aqui quem já fazem parte da rede).
          E principalmente a um ambiente todo pensado para facilitar o seu estudo.
          <div class="text-center lets-go">
            <a href="#signup_teachers" magnific-popup type="inline" class="btn btn-lg flat">EXPERIMENTE JÁ</a> <br>
            <small>Os 3 primeiros dias são gratuitos.</small>
          </div>
        </div>
    </div>
</section>
