<section class="row section-a">
    <div class="col-md-5 col-md-offset-1">
      <h2 class="section-heading">Querendo ficar famoso?</h2>
      <div class="lead">
        Popularidade e fama: sua aulas atingirão muitos alunos de todas as partes do país. Isso com certeza irá abrir mais possibilidades de negócio.
Acompanhe os professores com maior visibilidade na rede.
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-responsive pull-right" src="img/teachers/03split.png" alt="">
    </div>
</section>
