<section class="row section-c">
  <div class="col-md-6 col-xs-12 hidden-xs">
      <img class="img-responsive margin-top margin-bottom" src="img/teacher-banner.svg"/>
  </div>
    <div class="col-md-6 col-xs-12 content">
        <h2 class="section-heading">Professor, querendo ensinar no Girafales?</h2>
        <div class="lead">
          Para isso é muito simples, produza uma vídeo aula, preencha seu cadastro e nossa equipe estará lhe avaliando em até 72 horas. <br><br>
          <div class="text-center lets-go">
            <a href="#signup_teachers" magnific-popup type="inline" class="btn btn-lg flat margin-large-bottom">Cadastre-se já!</a> <br>
          </div>
        </div>
    </div>
</section>
