<section class="row section-b">
    <div class="col-xs-12 visible-sm visible-xs">
        <h2 class="section-heading">Criando aulas</h2>
        <div class="lead">
          Professor, crie seus cursos e conquiste muitos seguidores com seu próprio estilo de dar aulas.
Publique aulas quando e como desejar.
Antes precisa apenas definir no perfil as disciplinas que irá lecionar e criar os cursos no quais as aulas estarão inseridas.
O professor pode escolher a mídia de sua preferência para trabalhar, vídeo, pdf ou exercícios.
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-left" src="img/teachers/01split.png" alt="">
    </div>
    <div class="col-md-6 col-xs-12 hidden-sm hidden-xs">
        <h2 class="section-heading">Criando aulas</h2>
        <div class="lead">
          Professor, crie seus cursos e conquiste muitos seguidores com seu próprio estilo de dar aulas.
Publique aulas quando e como desejar.
Antes precisa apenas definir no perfil as disciplinas que irá lecionar e criar os cursos no quais as aulas estarão inseridas.
O professor pode escolher a mídia de sua preferência para trabalhar, vídeo, pdf ou exercícios.
        </div>
    </div>
</section>
