<section class="row section-a">
    <div class="col-md-5 col-md-offset-1 col-xs-12">
        <h2 class="section-heading">Rendimentos Financeiros</h2>
        <div class="lead">
          70% do valor de todas as assinaturas serão destinadas aos professores de acordo com suas participações na rede*. O professor poderá acompanhar todas as suas interações com os alunos e os seus rendimentos mês a mês.
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <img class="img-responsive pull-right" src="img/teachers/02split.png" alt="">
    </div>
</section>
