<div class="container zoom-anim-dialog mfp-hide" id="signup_teachers">
  <div class="col-xs-12">
      <div class="form-area">
        <form name="signup_teachers" ng-submit="home.submit_signup_teachers(signup_teachers)" novalidate>
            <h1>Professor, querendo ensinar no girafales?</h1>
    				<div class="form-group" ng-class="{'has-error':signup_teachers.name.$error.pattern}">
              <label class="control-label pull-right" ng-show="signup_teachers.name.$error.pattern">
                <span ng-bind="home.patterns.personName.message"/>
              </label>
  						<input type="text" ng-model="home.signup_teachers.name" class="form-control flat inverse"
               name="name" placeholder="Nome" ng-pattern="home.patterns.personName.regex" required>
  					</div>
  					<div class="form-group" ng-class="{'has-error':signup_teachers.email.$error.email}">
              <label class="control-label pull-right" ng-show="signup_teachers.email.$error.email">Email Inválido</label>
  						<input type="email" ng-model="home.signup_teachers.email" class="form-control flat inverse" name="email"
               placeholder="Email" required>
  					</div>
            <button type="submit" class="btn btn-lg btn-primary pull-right flat primary">Prosseguir</button>
        </form>
      </div>
  </div>
</div>
